
/* Dynamic Pseudo class selector  */
/* hover */
/* .sc{
    color: yellow;
}

.sc:hover{
    color: red;
    text-decoration: underline;
}

.btn{
    background-color: lightgreen;
    border: none;
}

.btn:hover{
    background-color: blueviolet;
    box-shadow: 0 0 2px 3px orange;
} */

/* active */
/* a:active{
    color: white;
    background-color: black;
}

h1:active{
    color: aquamarine;
}

input:active{
    background-color: blueviolet;
} */


/*focus  */
/* input:focus{
    background-color: aqua;
} */

/* childs */
/* section p:first-child{
    background-color: burlywood;
}


section p:last-child{
    background-color: yellow;
}

section p:nth-child(3){
    background-color: gray;
}

section p:nth-child(even){
    background-color: yellowgreen;
} */


/* first child */
section h1:first-child{
    background-color: red;
}

/* last of type */
section h1:last-of-type{
    background-color: aquamarine;
}

/* nth of type */
section h3:nth-of-type(2){
    background-color: blueviolet;
}

/* last of type */
section h3:last-of-type{
    background-color: pink;
}

