
*{
    margin: 0px;
    padding: 0px;
}

.main{
    height: 150vh;
    width: 100%;
    position: relative;
    background-color: aqua;
    background-image: url(./bg3.jpg);
    background-size: cover;
}


.navbar{
    height: 85px;
    width: 80%;
    background-color: white;
    position: fixed;
    left: 130px;
    top: 30px;
    border-radius: 60px;
    border: 2px solid white;
    background-color: black;
    /* padding: 10px; */
    box-shadow: 0 0 10px 2px white;
    

}

.navbar img{
    border-radius: 50%;
    height: 65px;
    padding: 6px;
    
}

.links{
    position: absolute;
    position: fixed;
    top: 60px;
    right: 200px;
    padding-left: 20px;
}

.links a{
    padding-left: 20px;
    font: 30px;
    text-decoration: none;
    text-decoration-line:underline ;
    text-decoration-color: orange;
    text-underline-offset: 5px;
    color: white;
}

.main h1{
    color: white;
    position: absolute;
    top: 170px;
    font-size: 110px;
    left: 130px;
}

.main h1::first-letter{
    color: red;

}